* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  font-family: "Quicksand", sans-serif;
  user-select: none;
}

header {
  padding: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a svg {
  width: 2.5rem;
  height: 2.5rem;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#count {
  font-size: 6rem;
  font-weight: bold;
}

button {
  border: none;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 3rem;
  width: 75px;
  height: 75px;
}

.wbutton {
  width: 150px;
}

button:active {
  transform: scale(0.95);
}
